
        <div style="text-align: center; position: absolute; width: 100%; height: 100%;">
                <!--  <form style="width: 100%;"#inquiryForm="ngForm" (ngSubmit)="submit()" novalidate> -->
                          <textarea placeholder="文を入力（しなさい）" cols="50" rows="6" name="msg" style="font-size: 24px; border: none; position: relative; width: 95%; height: 40%;"
                                    [(ngModel)]="message" ></textarea>
                          <br />
                        <!--</form> -->
                        <button (click)="inputText()" style="position: relative; width: 80%; margin: 10px 0px;" mat-raised-button color="accent">変換</button>
                        <textarea readonly style="font-size: 24px; user-select: none; border: none; position: relative; width: 95%; height: 40%;">{{OUTE}}</textarea>
                        <div style="text-align: center;">
                                <button (click)="tweet()" mat-raised-button style="margin: 0px 10px; background-color: #1DA1F2;"  color="primary">ツイート</button>
                                <button (click)="clear()" mat-raised-button style="margin: 0px 10px;" color="primary">クリア</button>
                                <button mat-raised-button (click)="copy()" style="margin: 0px 10px; background-color: #2bb570;" color="primary">コピー</button>
                        </div>
                        </div>